################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ReallyLearn/ReallyLearn/ReallyLearn.Android/obj/Debug
/ReallyLearn/ReallyLearn/ReallyLearn.UWP/bin/x86/Debug
/ReallyLearn/ReallyLearn/ReallyLearn/bin/Debug
/ReallyLearn/.vs/ReallyLearn/v15
